* text=auto eol=lf
*.mp4 filter=lfs diff=lfs merge=lfs -text
1-2/Devre[[:space:]]Teorisi[[:space:]]ve[[:space:]]Elektronik[[:space:]]Devreler/Devre[[:space:]]Teorisi/kitaplar/William[[:space:]]Hart[[:space:]]Hayt_[[:space:]]Jack[[:space:]]E[[:space:]]Kemmerly_[[:space:]]Steven[[:space:]]M[[:space:]]Durbin[[:space:]]-[[:space:]]Engineering[[:space:]]circuit[[:space:]]analysis-McGraw-Hill[[:space:]](2012).pdf filter=lfs diff=lfs merge=lfs -text
Lisansüstü/Veri[[:space:]]Madenciliği[[:space:]]ve[[:space:]]Bilgi[[:space:]]Keşfi/makale[[:space:]]sunum[[:space:]]ödevleri/2023/muhammed[[:space:]]kayra[[:space:]]bulut/23501059_MUHAMMED_KAYRA_BULUT.mp4 filter=lfs diff=lfs merge=lfs -text
Lisansüstü/Bilgisayarla[[:space:]]Görme/projeler/2023/kayra/video.mp4 filter=lfs diff=lfs merge=lfs -text
2-2/Sistem[[:space:]]Analizi[[:space:]]ve[[:space:]]Tasarımı/projeler/2022_GOKSEL_BIRICIK_GRUP_KUTAY/DepoYonetim.rar filter=lfs diff=lfs merge=lfs -text
2-2/Veri[[:space:]]Yapıları[[:space:]]ve[[:space:]]Algoritmalar/ödevler/2022/proje/kayra/dökümanlar/video.mp4 filter=lfs diff=lfs merge=lfs -text
2-2/Veri[[:space:]]Yapıları[[:space:]]ve[[:space:]]Algoritmalar/slaytlar_notlar/2022/kayra.pdf filter=lfs diff=lfs merge=lfs -text
3-1/Mikroişlemci[[:space:]]Sistemleri[[:space:]]ve[[:space:]]Assembly[[:space:]]Dili/Mikroişlemci[[:space:]]Sistemleri/lablar/2022/lab1/kayra/dökümanlar/4_20011901_MuhammetKayraBulut.mp4 filter=lfs diff=lfs merge=lfs -text
1-1/Bilgisayar[[:space:]]Bilimlerine[[:space:]]Giriş/proje/2023/batuhan[[:space:]]odçıkın/video.mp4 filter=lfs diff=lfs merge=lfs -text
1-1/Lineer[[:space:]]Cebir/slaytlar_notlar/2020/slaytlar/(Ana[[:space:]]kaynak)[[:space:]]liner[[:space:]]cebir[[:space:]]+[[:space:]]çözümlü[[:space:]]problemleri[[:space:]].pdf filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-7860a568c22d1883ea76da5454c8e34c471a8640.pack filter=lfs diff=lfs merge=lfs -text
.git/objects/05/61255f364ee31644f169a2209020068658365f filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/36/c3/36c3fc0d6a8d4ecb063d4945da62e120c06df14093191d921708f18e1ba30d08 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/26/3a/263a5ee676f77044e22e4cbf9d784014cc411a78d0e232337cc475e6f2975b7b filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/95/78/95789a0e856eacb74636198f8eba8ef7fa39683fd81cca3bd808cad6d7a72234 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/7e/d4/7ed4f60d638e873235a38c9ca5afdd3945a08eacd45a409cf829f618fa39ef2b filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/46/e7/46e773418559b8096059fb39c800eb72a0dd85636a84ac0fe4efac174bf161a5 filter=lfs diff=lfs merge=lfs -text
3-2/Veri[[:space:]]İletişimi[[:space:]]ve[[:space:]]Bilgisayar[[:space:]]Ağları/Veri[[:space:]]İletişimi/slaytlar_notlar/2021/rameş[[:space:]]el[[:space:]]yazısı/el[[:space:]]yazısı[[:space:]]not-sıkıştırılmış.pdf filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*.flv filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.wmv filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
* text !filter !merge !diff
