<?xml version="1.0"?>

<robot
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:xacro="http://ros.org/wiki/xacro"
  name="pioneer3at">

  <xacro:include filename="$(find p3at_description)/urdf/pioneer3at_body.xacro"/>
  <xacro:include filename="$(find p3at_description)/urdf/hokuyo_utm30lx.urdf.xacro"/>
  <xacro:include filename="$(find p3at_description)/urdf/asus_camera.urdf.xacro" />

  <xacro:hokuyo_utm30lx name="hokuyo" parent="base_link" ros_topic="hokuyo" update_rate="30" ray_count="1040" min_angle="130" max_angle="-130" >
    <origin xyz="0.13 0 0.32" rpy="0 0 0"/>
  </xacro:hokuyo_utm30lx>

  <xacro:asus_camera name="camera" parent="base_link">
	                <origin xyz="0.065 0.0 0.43" rpy="0 0 0"/>
  </xacro:asus_camera>  
</robot>
