.example-container {
    width: 100%;
    height: 100%;
}

.rotate-drawer-icon{
  transform: rotate(180deg);
  transition-duration: 0.33s;
  transition-duration: 0.33s;
  -webkit-transition-duration: 0.33s;
  -moz-transition-duration: 0.33s;
  -o-transition-duration: 0.33s;
}

.rotate-drawer-icon-toggle{
  transform: rotate(0deg);
  transition-duration: 0.33s;
  -webkit-transition-duration: 0.33s;
  -moz-transition-duration: 0.33s;
  -o-transition-duration: 0.33s;
}

.d-flex{
  display: flex;
}

.d-flex a{
  text-align: left;
}

.justify-content-column-between{
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

  
