readme_guncelleme_arayuzu
**/__pycache__
dist
**/*.json
**/*.csv
**/*.txt
!gereksinimler.txt
**/dist
**/build
**/venv/**

# google forum islemleri ve kök dizindeki txt ve json dosyalarını koru
!*.txt
!*.json
!google_forum_islemleri/*.txt
!google_forum_islemleri/*.json