<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true"/>
  
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="false"/>
  <arg name="world_name" default="worlds/empty.world"/>

  <!-- Launch PortMesa 
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false"
    output="screen" args="$(find p3at_gazebo)/worlds/PortMessa.world" />
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>

  <include file="$(find p3at_description)/launch/spawn_p3at.launch">
    <arg name="robot_name" value="robot1"/>
  </include>

  <include file="$(find p3at_description)/launch/spawn_p3at.launch">
    <arg name="robot_name" value="robot2"/>
    <arg name="pose_args" value="-x -60 -y 20"/> 
  </include>

  <include file="$(find p3at_description)/launch/spawn_p3at.launch">
    <arg name="robot_name" value="robot3"/>
    <arg name="pose_args" value="-y 80"/> 
  </include>

  <include file="$(find p3at_description)/launch/spawn_p3at.launch">
    <arg name="robot_name" value="robot4"/>
    <arg name="pose_args" value="-y -40"/> 
  </include>
-->
  <!-- Launch robocup2012_rvrl_pre1 -->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false"
    output="screen" args="$(find p3at_gazebo)/worlds/robocup2012_rvrl_pre1.world" />
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>

  <include file="$(find p3at_description)/launch/spawn_p3at.launch">
    <arg name="robot_name" value="robot1"/>
  </include>

  <include file="$(find p3at_description)/launch/spawn_p3at.launch">
    <arg name="robot_name" value="robot2"/>
    <arg name="pose_args" value="-x 5 -y 10 -z 0.3"/> 
  </include>

  <include file="$(find p3at_description)/launch/spawn_p3at.launch">
    <arg name="robot_name" value="robot3"/>
    <arg name="pose_args" value="-x 20 -y 19 -z 0.3"/> 
  </include>

  <!-- 
   <include file="$(find p3at_description)/launch/spawn_p3at.launch">
    <arg name="robot_name" value="robot4"/>
    <arg name="pose_args" value="-x -12 -y 13 -z 0.3"/> 
  </include>
-->

</launch>


