<div style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="chart-options-area">
        <mat-form-field>
            <mat-label>
                Select Data Source
            </mat-label>
            <mat-select [formControl]="dataSourceControl" (selectionChange)="onDataSourceSelectChange()">
                <mat-option [value]="datasource.key" *ngFor="let datasource of dataSourceOptions">{{datasource.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>
                Select Chart Type
            </mat-label>
            <mat-select [formControl]="chartSelectControl" (selectionChange)="onChartSelectChange()">
                <mat-option [value]="type" *ngFor="let type of chartTypeOptions">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="chart-area">
        <div class="chart">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

  
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>