.chart-options-area{
    float: left;
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.chart-area{
    float: left;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1024px;
}

.chart{
    width: 100%; 
    max-height: 60vh;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}