.message-page{
  width: 100%;
  display: flex;
  justify-content: center;
}

.message-container{
  width:100%;
  max-width: 1024px;
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.messages-area{
  display: flex;
  height: 70vh;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding: 0 20px;
  text-align: justify;
}

.message-field-area{
  width: 100%;
}

.messages-flex{
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-bottom: 1px solid #E3E5F1;
  border-radius: 5px;
}

.messages-flex-sent{
  background-color: #FFF;
}