<div class="message-page">
  <div class="message-container">
    <div class="messages-area">
      <!--
      <div>
        <div *ngIf="messageRes$">
          <mat-spinner></mat-spinner>
        </div>
      </div>
      -->
      <div *ngFor="let message of messages" class="messages-flex" id="messages-flex-id" [ngStyle]="{'background-color': (message.sent ? 'transparent' : '#ECF8F8')}">
        <div *ngIf="!isArrayElementObservable(message.message)">
          {{message.message}}
        </div>
        <div *ngIf="isArrayElementObservable(message.message)">
          {{ message.message | async}}
        </div>
      </div>
    </div>
    <div class="message-field-area">
        <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Buyur birader...</mat-label>
            <div style="display: flex; justify-content: space-between;">
              <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              [formControl]="messageController"></textarea>
              <button mat-icon-button aria-label="Send" (click)="onSendMessage()">
                <mat-icon>send</mat-icon>
              </button>
            </div>
        </mat-form-field>
    </div>
  </div>
</div>

